<body>
    <div class="examplePage">
        <h1 class="examplePageHeader"> Examples in Java and Python </h1> <br/>
        <div class="code">
            <!-- <img class="redRectangle" src="/images/redRectangle.svg" /> -->
            <div class="exampleCode">
                <div class="javaExample">
                    <img src="/images/codeBackground.svg" />
                    <h1> linkedList.java </h1>
                    <p1>
                        class Node &#123; <br>
                        &emsp;int data; <br>
                        &emsp;Node next; <br>
                        <br>    
                        &emsp;Node(int data) &#123;	 <br>
                        &emsp;&emsp;this.data = data; <br>
                        &emsp;&rbrace; <br>
                        &rbrace;
                    </p1>
                </div>
                <div class="pythonExample">
                    <img src="/images/codeBackground.svg" />
                    <h1> linkedList.py </h1>
                    <p1>
                        # Function to initialize the linked list object <br>
                        class LinkedListNode(object): <br>
                        &emsp;def __init__(self, data): <br>
                        &emsp;&emsp;self.data = data # Assign data <br>
                        &emsp;&emsp;self.next = None # Initialize
                    </p1>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    
    .examplePage {
        height: auto;
        background: #e8e8e8;
        z-index: -10;

        margin-top: 40px;   

        max-width:100%;
        overflow-x: hidden;
    }

    .exampleCode h1 {
        display: none;
        font-family: 'Lato', sans-serif;
        font-size: min(4.5vw, 2rem);
        font-weight: 600;        

        /* width: 100%; */
        /* overflow-x: hidden;
        white-space: nowrap; */
    }

    .examplePageHeader {
        font-family: 'Lato', sans-serif;
        color: #000000;
        text-align: center;

        font-size: min(20vw, 5rem);
        font-weight: 900;         
        margin: auto;
        padding-top: 20px;

        width: 90%;
        overflow-x: hidden;
    }

    .code {
        margi-left: auto;
        /* grid-template-rows: repeat(3, 50px); */
    }

    .redRectangle {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        align-self: center;
    }

    .examplePageBackground {
        width: 100vw;
        grid-column: 1  ;
        grid-row: 1;
    }

    .exampleCode {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;

        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .javaExample, .pythonExample{
        display: grid;

        max-width: 90%;
        grid-column: 1;
        margin: 15px;
    }

    .javaExample {
        grid-row:1;
    }

    .pythonExample {
        grid-row:2;
    }

    .javaExample p1, .pythonExample p1 {
        font-family: "Source Code Pro";
        font-size: min(3.5vw, 1.6rem);
        grid-column: 1;
        grid-row: 1;
        margin-left: 1rem;
        margin-top: auto;
        margin-bottom: auto;

        max-width: 500px;
        inline-size: 100%;
        overflow-wrap: break-word;
    }

    .pythonExample img, .javaExample img {
        max-width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .javaExample h1, .pythonExample h1 {
        font-size: min(4.5vw, 1.8rem);
        margin: 0;
        margin-top: -0.1vw;
        grid-column: 1;
        grid-row: 1;
        margin-left: 1rem;
    }

    @media only screen and (min-width: 1000px) {
        .exampleCode {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }

        .javaExample {
            grid-column: 1;
            grid-row:1;
        }

        .pythonExample {
            grid-column: 2;
            grid-row:1;
        }
    }

</style>