---
import Button from "src/components/MainPage/Button.astro";;
---

<div class="readyToLearnPage">
    <h1> Ready to Learn? </h1>
    <div class="button"><Button title="Start Here" link="/Markdown/introduction" color="#EB3933" shadow="#BA1812" highlight="#BA1812"/></div>
    
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    body {
        font-family: "Lato";
    }

    .readyToLearnPage {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-top: 10rem;
        text-align: center;

        max-width:100%;
        overflow-x: hidden;
        
        background: #F2F2F2;
    }

    .readyToLearnPage h1 {
        font-weight: 900;

        font-size: min(15vw, 5rem);
        margin: 20px auto;
        
    }

    .readyToLearnPage StartHereButton {
        margin: auto;
    }

    .readyToLearnPage .button {
        padding-top: 30px;
    }
</style>