---
import Button from "src/components/MainPage/Button.astro";;
---

<div class="readyToLearnPage">
    <h1> Ready to Learn? </h1>
    <Button title="Start Here" link="/Markdown/introduction" color="#EB3933" shadow="#BA1812" highlight="#BA1812"/>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    .readyToLearnPage {
        background: #F2F2F2;
        height: 50vh;
        display: grid;
        grid-template-rows: 300px 0fr;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .readyToLearnPage h1 {
        grid-column: 1;
        grid-row: 1;
        font-family: "Lato";
        font-weight: 900;
        font-size: 4rem;
    }

    .readyToLearnPage StartHereButton {
        grid-column: 1;
        grid-row: 2;
    }
</style>