---
import Button from "./Button.astro";
---

<body>
    <div class="page">
        <div class="title">
            <em>
                <h1>Data Structs.</h1>
                <h1 id="algoirthm">Algorithms</h1>
            </em>
        </div>
        <div class="subtext">
            <h1>presented by</h1>
            <img src= "public/images/CSC630.png">
        </div>
        <!-- <div class="titles">
            <h3>A Comprehensive Guide to</h3>
            <h1>Data Structures</h1>
            <h1>& Algorithms</h1>
            <h5>Produced by the Phillips Academy CSC630 Class</h5>
            <a href="/introduction" class="button">
                <Button title="Start Here" link="/Markdown/introduction" color="#EB3933" shadow="#BA1812" highlight="#BA1812"/>
            </a>
        </div> -->
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    @font-face {
        font-family: 'Verona';
        src: url('public/fonts/verona_serial-regular.otf'); 
    }
    @font-face {
        font-family: 'Tommy';
        src: url('public/fonts/MADE TOMMY Regular_PERSONAL USE.otf'); 
    }


    .page {
        display: flex;
        flex-direction: column;

        height: 100%;

        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;

        align-items: center;

        width: 100%;
    }

    .title h1 {
        font-family: "Verona";
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: black;
        color: black;

        font-size: 10rem;
        margin: 0px;
        margin-left: -150px;
        /* margin-top: -100px; */
        padding:0px;
    }

    #algoirthm {
        margin-top: -50px;
        padding-left: 280px;
    }

    .subtext {
        font-family: "Tommy";
        text-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
        font-size: 1.2rem;
        color: white;

        display: flex;
        flex-direction: row;
        
        margin-left: 540px;
    }

    .subtext img {
        max-height: 18vh;
        margin-left: -200px;
        z-index: -5;
    }

    .titles a {
        text-decoration: none;
    }
    /* .titles h1 {
        font-size: min(13.5vw, 5rem);
        font-weight: 900;
        margin: 0;

        overflow:hidden;
        white-space:nowrap;
    } */
    .titles h3 {
        font-size: min(8vw, 2rem);
        font-weight: 600;
        color: #0077B8;
        margin: 0;
    }
    .titles h5 {
        font-size: min(6vw, 1.5rem);
        font-weight: 400;
        font-style: italic;
        color: #6F0E0B;
    }
    .titles {
        display: inline-block; 
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 10vh;
    }

</style>