---
import TitlePage from 'src/components/MainPage/TitlePage.astro';
import LeftSidebar from 'src/components/LeftSidebar.astro';
import Header from '../components/Header/Header.astro';

const currentPage = Astro.url.pathname;
---



<html lang="en">
    <head>
        <title>Home page</title>
        <meta name="theme-color" content="rgb(165, 187, 236)">
    </head>
    <body>
        <img src="public/images/background.png">
        <div class="flex">
            <LeftSidebar currentPage={currentPage} />
            <div class="right">
                <Header/>
                <TitlePage />
            </div>
        </div>
        
    </body>
</html>

<style>
    body {
        margin: 0;
        height: auto;
        width: 100vw;
    }
    body DescriptionPage {
        box-shadow: 0 0.125rem black;
    }

    img {
        position: fixed;
        width: 100vw;   

        z-index: -10;
    }

    .flex {
        display: flex;
        flex-direction: row;
        padding: 30px;
    }

    .right {
        width: 85vw;
        display: flex;
        flex-direction: column;
    }
</style>
