---
import TitlePage from 'src/components/MainPage/TitlePage.astro';
import Header from '../components/Header/Header.astro';
import DescriptionPage from 'src/components/MainPage/DescriptionPage.astro';
import ExamplePage from 'src/components/MainPage/ExamplePage.astro'
import LearningPage from 'src/components/MainPage/LearningPage.astro';
import ReadyToLearnPage from 'src/components/MainPage/ReadyToLearnPage.astro';
import Footer from 'src/components/Footer.astro';
---
<html>
    <body>
        <Header/>
        <TitlePage />
        <DescriptionPage />
        <ExamplePage />
        <LearningPage />
        <ReadyToLearnPage />
        <Footer />
    </body>
</html>

<style>
    body {
        margin: 0;
        height: auto;
    }
    body DescriptionPage {
        box-shadow: 0 0.125rem black;
    }
</style>
