---
import TitlePage from 'src/components/MainPage/TitlePage.astro';
import Header from '../components/Header/Header.astro';
import DescriptionPage from 'src/components/MainPage/DescriptionPage.astro';
import ExamplePage from 'src/components/MainPage/ExamplePage.astro'
import LearningPage from 'src/components/MainPage/LearningPage.astro';
import ReadyToLearnPage from 'src/components/MainPage/ReadyToLearnPage.astro';
import Footer from 'src/components/Footer/Footer.astro';
---
<html lang="en">
    <head><title>Home page</title></head>
    <body>
        <Header/>
        <TitlePage />
        <!-- <DescriptionPage /> -->
        <ExamplePage />
        <LearningPage />
        <ReadyToLearnPage />
        <Footer />
        
    </body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

    body {
        margin: 0;
        height: auto;
        width: 100vw;
        font-family: 'Lato';
    }
    body DescriptionPage {
        box-shadow: 0 0.125rem black;
    }
</style>
