---
import Header from '../components/Header/Header.astro';
---

<html>
    <body>
        <Header />
        <h1> resources </h1>
    </body>
</html>

<style>
    body {
        margin: 0;
        height: auto;
    }
    body h1 {
        box-shadow: 0 0.125rem black;
    }
</style>