<html>
    <body>
        <div class="hover"></div>

        <div class="dropdown">

            <h2>Introduction</h2>
            <div class="list">
                <div><a href="/Markdown/introduction" class="link"> Introduction </a></div>
                <div><a href="/Markdown/pointers-and-object-contents" class="link"> Pointers & Objects </a></div>
            </div>    
            <h2>Elementary Structures</h2>
            <div class="list">
                <div><a href="/introduction-to-graphs" class="link"> Introduction to Graphs </a></div>
                <div><a href="/Markdown/LinkedList" class="link"> Linked List </a></div>
                <div><a href="/Markdown/queues" class="link"> Queues </a></div>
                <div><a href="/Markdown/rooted-trees" class="link"> Rooted Trees </a></div>
                <div><a href="/Markdown/stacks" class="link"> Stacks </a></div>
            </div>


            <h2>Advanced Structures</h2>
            <div class="list">
                <div><a href="/Markdown/binary-search-trees" class="link"> Binary Search Tree </a></div>
                <div><a href="/Markdown/hash-tables" class="link"> Hash Tables </a></div>
                <div><a href="/Markdown/RedBlackTrees" class="link"> Red Black Trees  </a></div>
            </div>
            

            <h2>Algorithms</h2>
            <div class="list">
                <div><a href="/Markdown/Heapsort" class="link"> HeapSort </a></div>
                <div><a href="/Markdown/quicksort" class="link"> QuickSort </a></div>
                <div><a href="/Markdown/lower-bounds-of-sorting" class="link"> Lower Bounds of Sorting  </a></div>
                <div><a href="/Markdown/graphing-algorithms" class="link"> Graphing Algorithms </a></div>
            </div>

        </div>
    </body>
</html>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    body {
        margin: 0;
        height: auto;
        color: black;
        
    }
    body h1 {
        box-shadow: 0 0.125rem black;   
    }

    body h2 {
        font-family: "Lato", sans-serif;
		font-weight: 900;
		font-size: 1.7rem;
        padding: 0;
        padding-inline: 1.5rem;  
        
        margin: 0px; 
        margin-top:10px;
        margin-bottom:10px;
    }

    .link {
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        color: white;
        padding-inline: 2rem;
        text-decoration: none;	
        margin: 8px;
    }

    .link:hover {
        text-decoration-line: underline;
    }

    .list {
        margin-bottom: 5px;
    }

    .hover {
        position:absolute;
        height: 20px;
        width: 165px;
    }

    .dropdown {
		position:absolute;
		top: 75px;
	
        border-style:solid;
        border-width: 2px;

        -webkit-backdrop-filter: blur(6px);;
        backdrop-filter: blur(6px);
		background-color: rgba(0, 119, 184, 0.8);
        color: white;
        border-color: black;
        
		padding-top: 5px;
        padding-bottom: 10px;
		overflow: auto;
	}
    
</style>