---
import Logo from "./Logo.astro";
import Dropdown from "./Dropdown.astro";
---

<header>
	<nav class="nav-wrapper">
		<div class="navigation">
			<div class="dropdowns">
				<a href="/Markdown/introduction">
					<div class="about">
						<h1>Begin</h1>
						<img src="/public/images/carrot.png">
					</div>
				</a>
				<a href="/Markdown/introduction">
					<div class="about">
						<h1>About</h1>
						<img src="/public/images/carrot.png">
					</div>
				</a>
			</div>
		</div>
		<div class="search">
			<img src="/public/images/search.png">
			<h1>search lessons problems and resources</h1>
		</div>
	</nav>
</header>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
	@font-face {
    font-family: 'Tommy';
    src: url('public/fonts/MADE TOMMY Regular_PERSONAL USE.otf'); 
  }

	header {
		font-family: "Tommy";

		align-items: center;
		display: flex;
		top: 0;
		z-index: 10;

		height: 4rem;
		width: 100%;

		padding: 0px;
		margin: 0;
	}

	.nav-wrapper {
		display: flex;
		flex-direction: row;

		height: 4rem;
		width: 100%;

		justify-content: space-between;
		justify-content: space-between;
	}

	.navigation {
		display: grid;
		align-items: center;
		width:60%;
		/* margin-left: auto;
		margin-right: 0; */
	}

	.about {
		color: black;
		display: flex;
		padding-inline: 1rem;
		height: 4rem;
		align-items: center;

		border: 5px dotted rgb(255, 255, 255, 0);
	}

	.about img {
		max-height: 1rem;
		margin-inline: 10px;;
	}
	
	.search img {
		max-height: 1.8rem;
		margin-inline: 10px;;
	}

	.dropdowns a {
		text-decoration: none;
		font-weight: 700;
	}

	.about:hover, .lessons:focus, .about:focus {
		border: 5px dotted black;
		background-color: rgb(255, 240, 225, 0.7);
		
		-webkit-backdrop-filter: blur(6px);;
		backdrop-filter: blur(6px);
	}

	.dropdown {
		display: none;
	}

	.search {
		white-space: nowrap;
		overflow-x: hidden;
		padding-right: 30px;

		border:5px dotted black;
		box-shadow: 0.4rem 0.4rem 0 0 black;
		background-color: rgb(255, 240, 225, 0.7);
		-webkit-backdrop-filter: blur(6px);;
		backdrop-filter: blur(6px);	
	}

	.dropdowns, .search {
		display: flex;
		align-items: center;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
	}

	.dropdowns h1 {
		font-weight: 600;
		font-size: min(5vw, 2rem);
		margin: 0;
	}
</style>
