---
import Logo from "./Logo.astro";
import { Icon } from 'astro-icon';
import Dropdown from "./Dropdown.astro";
---

<header>
	<nav class="nav-wrapper">
		<div class="logo">
			<a href="/">
				<Logo />
				<h1>DATAL</h1>
			</a>
		</div>
		<div class="navigation">
			<div class="dropdowns">
				<div class="lesson-dropdown">
					<div class="lessons">
						<h1>Lessons</h1>
					</div>
					<div class="dropdown">
						<Dropdown/>
					</div>
				</div>
				<a href="/Markdown/introduction">
					<div class="about">
						<h1>About</h1>
					</div>
				</a>
			</div>
			<div class="menu">
				<Icon name="ph:dots-three-bold" />
			</div>
		</div>
	</nav>
</header>

<style>

    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

	header {
		background-color: #0077b8;
		height: 4rem;
		align-items: center;
		display: flex;
		position: sticky;
		box-shadow: 0 0.125rem 0 0 black;
		margin: 0;
		width: 100vw;
		top: 0;
		z-index: 10;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		height: 4rem;
		width: 100vw;
	}

	.logo a {
		display: flex;
		gap: 0.5rem;
		color: white;
		text-decoration: none;
		align-items: center;
		text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
		padding-inline: 2rem;
	}

	.logo h1 {
		font-family: "Lato", sans-serif;
		font-weight: 900;
		font-size: 1.5rem;
		margin: 0;
	}

	.navigation {
		display: grid;
		align-items: center;
		/* margin-left: auto;
		margin-right: 0; */
	}

	.lessons,
	.about {
		display: flex;
		padding-inline: 3rem;
		height: 4rem;
		align-items: center;
	}

	.dropdowns a {
		text-decoration: none;
		color: white;
		font-weight: 700;
	}

	.lessons:hover,
	.about:hover {
		background: #005D8F;
	}

	.lessons {
		/* background-color: purple; */
	}

	.dropdown {
		display: none;
	}

	.lesson-dropdown:hover > .dropdown {
		display: block;
		animation-name: fade;	
		animation-duration: 1ms;
	}

	.dropdowns {
		display: flex;
		align-items: center;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
	}

	.dropdowns h1 {
		color: white;
		font-family: "Lato", sans-serif;
		font-weight: 600;
		font-size: 1.25rem;
		margin: 0;
	}

	.menu {
		grid-row: 1;
		grid-column: 1;
		visibility: hidden;
		height: 4rem;
		display: flex;
		align-items: center;
		padding-inline: 1rem;
	}

	.menu:hover {
		background: #005D8F;
	}

	
	.icon {
		grid-column: 1;
		grid-row: 1;
		margin-left: auto;
		padding-right: 0.5rem;
	}

	@media only screen and (max-width: 1200px) {
        .dropdowns {
            display: none;
        }
		.menu {
			visibility: visible;
		}
    }

	[astro-icon="ph:magnifying-glass-fill"] {
		color: white;
		height: 2rem;
	}

	[astro-icon="ph:dots-three-bold"] {
		color: white;
		height: 3rem;
	}
</style>
