---
import { Code } from "astro/components"

type Props = {
    pythonCode: string,
    javaCode: string,
}

const { pythonCode, javaCode } = Astro.props as Props;
---


<div>
    <button id="python-switch" class="language-switch">Python</button>
    <button id="java-switch" class="language-switch">Java</button>
    <div class="language-python">
        <Code code={pythonCode} lang="python" theme="one-dark-pro"/>
    </div>
    <div class="language-java" hidden>
        <Code code={javaCode} lang="java" theme="one-dark-pro" />
    </div>
    <script>
        const pythonSwitch = document.getElementById("python-switch");
        const javaSwitch = document.getElementById("java-switch");
        const pythonCode = document.querySelector(".language-python");
        const javaCode = document.querySelector(".language-java");

        pythonSwitch.addEventListener("click", () => {
            pythonCode.hidden = false;
            javaCode.hidden = true;
        });

        javaSwitch.addEventListener("click", () => {
            pythonCode.hidden = true;
            javaCode.hidden = false;
        });
    </script>
</div>