---
import { Code } from "astro/components"

type Props = {
    pythonCode: string,
    javaCode: string,
}

const { pythonCode, javaCode } = Astro.props as Props;
---


<div>
    <button class="python-switch language-switch">Python</button>
    <button id="java-switch" class="java-switch language-switch">Java</button>
    <div class="language-python">
        <Code code={pythonCode} lang="python" theme="one-dark-pro"/>
    </div>
    <div class="language-java" hidden>
        <Code code={javaCode} lang="java" theme="one-dark-pro" />
    </div>
    <script>
        const pythonSwitch = document.querySelectorAll(".python-switch");
        const javaSwitch = document.querySelectorAll(".java-switch");

        pythonSwitch.forEach((button) => {
            button.addEventListener("click", () => {
                document.querySelector(".language-python").hidden = false;
                document.querySelector(".language-java").hidden = true;
            });
        });

        javaSwitch.forEach((button) => {
            button.addEventListener("click", () => {
                document.querySelector(".language-python").hidden = true;
                document.querySelector(".language-java").hidden = false;
            });
        });
    </script>
</div>