---
import { Code } from "astro/components"

type Props = {
    pythonCode: string,
    javaCode: string,
}

const { pythonCode, javaCode } = Astro.props as Props;
---

<div>
    <div class="language-python">
        <Code code={pythonCode} lang="python" theme="one-dark-pro"/>
    </div>
    <div class="language-java">
        <Code code={javaCode} lang="java" theme="one-dark-pro" />
    </div>
</div>