<body>
    <div class="ExamplePage">
        <h1> Examples in Java and Python </h1> <br/>
        <img class="sampleCode" src="/images/sample-code.svg">
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    .ExamplePage {
        height: 40rem;
        width: 100%;
        background: #e8e8e8;
    }

    .sampleCode {
        width: 100vw;
    }

    .ExamplePage h1 {
        font-family: 'Lato', sans-serif;
        color: #000000;
        text-align: center;
        font-size: 5rem;
        font-weight: 900;
        margin: 0;
        padding: 3rem;
    }
</style>