---
import Logo from "./Header/Logo.astro";
---

<div class="footer">
	<h1> PA DSA </h1>
	<div class="information">
		<a href="https://mitpress.mit.edu/9780262046305/introduction-to-algorithms/">
		<h5> Introduction to Data Structures and Algorithms </h5></a>
		<ul>
			<li>Thomas H. Cormen</li>
			<li>Charles E. Leiserson</li>
			<li>Ronald L. Rivest</li>
			<li>Clifford Stein</li>
		</ul>
	</div>
	<div class="information">
		<h5>Copyright CSC630 - 2022&copy </h5>
		<p>MIT License </p>
	</div>
	<div class="information">
		<h5>Notice</h5>
		<p>PA DSA is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.  </p>
	</div>
	<div class="information">
		<h5>Contact</h5>
		<p>csc630@gmail.com</p>
	</div>
	
	
</div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
	
	.footer {
		background: #0077B8;
		margin: 0;
		padding: 0;
		display: flex;
		font-family: "Lato";
	}

	.footer h1 {
		margin-bottom: auto;
		margin-top: auto;
		padding-left: 2.5rem;
		margin-right: 3rem;
		color: white;
		font-weight: 900;
		font-size: 3rem;
		margin-left: 1rem;
	}

	.information {
		color: rgb(255, 255, 255, 0.5);
		padding: 10px;
		font-weight: 600;
		max-width: 40%;
		margin-top: 0.75em;
	}

	.information h5 {
		margin: 0;
	}

	.information ul, p {
		margin-top: 6px;
	}

	li, p {
		font-weight: 300;
		text-decoration: none;
		list-style: none;
	}

	ul {
		padding-left: 20px;
	}

	a {
		text-decoration: none;
		color: rgb(255, 255, 255, 0.5);
	}

</style>
