---
import StartHereButton from "./StartHereButton.astro";
---

<div class="readyToLearnPage">
    <h1> Ready to Learn? </h1>
    <StartHereButton />
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    .readyToLearnPage {
        background: #F2F2F2;
        height: 60vh;
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .readyToLearnPage h1 {
        grid-column: 1;
        grid-row: 1;
        font-family: "Lato";
        font-weight: 900;
        font-size: 4rem;
    }

    .readyToLearnPage StartHereButton {
        grid-column: 1;
        grid-row: 2;
    }
</style>