<div class="stacksPost">
    <img class="postBackground" src="/images/postBackground.svg" aria-hidden="true"/>
    <div class="content">
        <h1> Stacks </h1>
        <img class="stackDiagram" src="/images/stackDiagram.svg" alt="Stack Push-Pop Diagram"/>
        <p1> A stack is a data structure which follows the Last-In-First-Out (LIFO) order of operations: the last plate to go in was the first to go out. Conversely, the first element to go in is the last to go out. </p1>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

    .stacksPost {
        display: grid;
        width: 40vw;
        margin: 0;
    }

    .postBackground {
        grid-column: 1;
        grid-row: 1;
        width: 40vw;
    }

    .content {
        grid-column: 1;
        grid-row: 1;
        display: grid;
    }

    .content h1 {
        font-family: "Lato";
        font-size: 2rem;
        padding-inline: 2rem;
        padding-top: 6rem;
        grid-row: 1;
    }

    .stackDiagram {
        width: 30vw;
        grid-row: 2;
        padding-inline: 2rem;
    }

    .content p1 {
        font-family: 'Open Sans';
        font-size: 0.8rem;
        padding: 2rem;
        word-wrap: break-word;
        grid-row: 3;
    }
</style>