---
import Button from "./Button.astro";
---

<body>
    <div class="page">
        <div class="background" aria-hidden="true">
            <div class="binary" aria-hidden="true">
                <img class="leftBinary" src="/images/binary.svg">
                <img class="rightBinary" src="/images/binary.svg">
            </div>
            <div class="weirdShapes" aria-hidden="true">
                <img class="leftShape" src="/images/weirdShape.svg">
                <img class="rightShape" src="/images/weirdShape.svg">
            </div>
        </div>
        <div class="titles">
            <h3>A Comprehensive Guide to</h3><br />
            <h1>Data Structures</h1>
            <h1>& Algorithms</h1>
            <h5>Produced by the Phillips Academy CSC630 Class</h5>
            <a href="/introduction" class="button">
                <Button title="Start Here" link="/introduction" color="#EB3933" shadow="#BA1812" highlight="#BA1812"/>
            </a>
        </div>
    </div>
</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    .page {
        width: 100%;
        background: #F2F2F2;
        font-family: "Lato", sans-serif;
        height: 94vh;
        display: grid;
        box-shadow: 0 0.125rem 0 0 black;
    }

    .background {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        overflow: hidden;
    }

    .binary {
        display: flex;
        height: 94vh;
        grid-column: 1;
        grid-row: 1;
    }

    .leftBinary {
        margin-left: 5vw;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: auto;
    }

    .rightBinary {
        margin-left: auto;
        margin-right: 5vw;
        margin-top: auto;
        margin-bottom: 0;
    }

    .weirdShapes {
        display: flex;
        height: 48rem;
        grid-column: 1;
        grid-row: 1;
    }

    .leftShape {
        margin-left: 10vw;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: -10rem;
        width: 20rem;
        transform: rotate(180deg);
    }

    .rightShape {
        margin-left: auto;
        margin-right: 15vw;
        margin-top: 2rem;
        margin-bottom: auto;
    }

    .titles a {
        text-decoration: none;
    }
    .titles h1 {
        font-size: 5rem;
        font-weight: 900;
        margin: 0;
    }
    .titles h3 {
        font-size: 2rem;
        font-weight: 600;
        color: #0077B8;
        margin: 0;
    }
    .titles h5 {
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        color: #6F0E0B;
    }
    .titles {
        display: inline-block; 
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 10vh;
    }

    @media only screen and (max-width: 1000px) {
        .binary {
            display: none;
        }
    }

    @media only screen and (max-width: 1200px) {
        .weirdShapes {
            display: none;
        }
    }
</style>